.contentFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.selectFlex {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* border: 1px solid red; */
}
