.studentNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 67vh;
  padding: 50px 0px 8px 0px;
  width: 17vw;
  box-shadow: 0px 2px 4px rgba(42, 40, 138, 0.05),
    0px 16px 32px rgba(4, 48, 160, 0.09);
  border-radius: 0px 0px 8px 0px;
  margin-top: 8px;
  margin-left: -8px;
  left: 0px;
  top: 89px;
  background: #ffffff;
}
.linksStudentNav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 20px;
  text-transform: capitalize;
  color: #140b53;
  margin-left: 1vw;
}
.content {
  padding-left: 7vw;
  padding-top: 9vh;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #140b53;
  margin-bottom: 2vh;
}
.subTitle {
  margin-bottom: 2vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 40vw;
  text-align: justify;
}
.subTitle2 {
  margin-bottom: 2vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 40vw;
  text-align: justify;
}
.submitDiv {
  display: flex;
  justify-content: flex-end;
}
.submitButton {
  padding: 6px 32px;
  gap: 8px;
  width: 15vw;
  height: 7vh;
  background: rgba(133, 64, 245, 0.97);
  border-radius: 4px;
}
.submitButton:hover {
  opacity: 0.9;
  background: rgba(133, 64, 245, 0.97);
  cursor: pointer;
}
.divider {
  width: 16vw;
  height: 0px;
  left: 383px;
  top: 503px;
  margin-top: 1vh;
  border: 0.5px solid #dfd8ff;
  margin-bottom: 2vh;
}
.question {
  padding-left: 0.7vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #140b53;
}
.answer {
  display: flex;
  align-items: center;
}
.answerContent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
  flex: none;
  order: 0;
  flex-grow: 0;
}
@media screen and (max-width: 450px) {
  .studentNav {
    width: 0;
  }
  .linksStudentNav {
    font-size: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0vh;
    margin-top: 7vh;
  }
  .subTitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 80vw;
    text-align: center;
    color: #040330;
  }
  .subTitle2 {
    margin-bottom: 17vh;
    margin-top: 5vh;
    width: 50vw;
  }

  .submitButton {
    gap: 8px;
    width: 80vw;
    height: 6vh;
    margin-top: 5vh;
  }
  .divider {
    width: 50vw;
    position: absolute;
    top: 230px;
    left: 50px;
    border: 1px solid #dfd8ff;
  }
  .question {
    width: 50vw;
    margin-top: -15vh;
  }
  .answer {
    display: flex;
    justify-content: flex-start;
    justify-content: start;
    width: 50vw;
  }
}
