.teacherNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 67vh;
  padding: 33px 0px 8px 0px;
  width: 17vw;
  box-shadow: 0px 2px 4px rgba(42, 40, 138, 0.05),
    0px 16px 32px rgba(4, 48, 160, 0.09);
  border-radius: 0px 0px 8px 0px;
  margin-top: 8px;
  margin-left: -8px;
  left: 0px;
  top: 89px;
  background: #ffffff;
}
.linksTeacherNav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 20px;
  text-transform: capitalize;
  color: #140b53;
  margin-left: 1vw;
}
.linksTeacherNavContactUs {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 20px;
  text-transform: capitalize;
  color: #140b53;
  margin-left: 1vw;
}
.btnTeacherNav {
  display: flex;
  margin-bottom: 10px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 96%;
}
.btnTeacherNav1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 96%;
}
.btnTeacherNav:hover {
  margin-bottom: 10px;
  background: rgba(3, 9, 168, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.iconsTeacherNav {
  color: #323232;
  margin-left: 1.5vw;
}
.divider {
  width: 16.9vw;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

@media screen and (max-width: 450px) {
  .teacherNav {
    flex-direction: row;
    height: 50px;
    padding: 15px 3px 5px 3px;
    width: 100vw;
  }
  .linksTeacherNav {
    /* border: 1px solid red; */
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20%;
    box-shadow: 0px 2px 4px rgba(42, 40, 138, 0.05),
      0px 16px 32px rgba(4, 48, 160, 0.09);
    padding: 5px;
    font-size: 10px;
  }
  .linksTeacherNavContactUs {
    font-size: 0px;
    display: none;
  }
  /* .iconDiv {
    display: none;
  } */
  .iconsTeacherNav {
    font-size: 0px;
    display: none;
  }
  .divider {
    width: 0vw;
  }
}
