.content {
  padding-left: 4vw;
  padding-top: 5vh;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #140b53;
  margin-bottom: 2vh;
}
.testName {
  width: 44vw;
  margin-bottom: 3vh;
}
.subTitle {
  margin-bottom: 2vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.selectsDiv {
  display: flex;
  justify-content: space-between;
}
.textField {
  width: 650px;
  /* margin-top: 20px; */
}
.submitDiv {
  display: flex;
  justify-content: flex-end;
}
.submitButton {
  padding: 6px 32px;
  gap: 8px;
  width: 7.5vw;
  height: 5vh;
  background: rgba(133, 64, 245, 0.97);
  border-radius: 4px;
}
.submitButton:hover {
  opacity: 0.9;
  background: rgba(133, 64, 245, 0.97);
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .content {
    /* margin-top: 1vh; */
    padding-top: 5vh;
  }
  .title {
    justify-content: center;
    font-size: 24px;
    margin-bottom: 1vh;
  }

  .subTitle {
    margin-bottom: 2vh;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .selectsDiv {
    flex-direction: column;
    /* border: 1px solid red; */
  }
  .textField {
    width: 90vw;
    margin-top: 5vh;
  }
  .selectField {
    width: 90vw;
    margin-bottom: 1.5vh;
  }

  .submitDiv {
    justify-content: center;
    margin-top: 5vh;
  }
  .submitButton {
    height: 5vh;
    width: 30vw;
  }
}
