.footerDiv {
  margin: auto;
  width: 50vw;
  justify-content: space-evenly;
}
.footer {
  margin-left: -8px;
  margin-bottom: -8px;
}
.footerIcon {
  margin-left: 4vw;
}
@media screen and (max-width: 450px) {
  .footerDiv {
    width: 100vw;
    background: #ffffff;
    position: fixed;
    bottom: 0;
  }
  .footer {
    width: 100vw;
    position: fixed;
    left: 50%;
    margin: 0;
  }
}
