.leftMainNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 67vh;
  padding: 33px 0px 8px 0px;
  width: 17vw;
  box-shadow: 0px 2px 4px rgba(42, 40, 138, 0.05),
    0px 16px 32px rgba(4, 48, 160, 0.09);
  border-radius: 0px 0px 8px 0px;
  margin-top: 8px;
  margin-left: -8px;
  left: 0px;
  top: 89px;
  background: #ffffff;
}
.btnMainNav {
  display: flex;
  margin-bottom: 10px;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 96%;
}
.btnMainNav:hover {
  margin-bottom: 10px;
  background: rgba(3, 9, 168, 0.12);
  border-radius: 4px;
}
.linksMainNav {
  /* top: calc(50% - 20px / 2); */
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: rgba(4, 3, 48, 0.87);
  margin-left: 1vw;
  /* margin-right: 2vw; */
}
.iconsMainNav {
  color: #323232;
  margin-left: 1.5vw;
}
.divider {
  width: 16.9vw;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}
