.content {
  padding-left: 4vw;
  padding-top: 5vh;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #140b53;
  margin-bottom: 2vh;
}

.subTitle {
  margin-bottom: 2vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #040330;
}
.updateBtns {
  margin-left: 15px;
  width: 150px;
  color: rgba(138, 70, 246, 0.97);
  border-color: rgba(136, 67, 248, 0.97);
}
.addButton {
  padding: 6px 32px;
  gap: 8px;
  width: 15vw;
  height: 7vh;
  background: rgba(133, 64, 245, 0.97);
  border-radius: 4px;
}
.addButton:hover {
  opacity: 0.9;
  background: rgba(133, 64, 245, 0.97);
  cursor: pointer;
}
.saveButton {
  padding: 6px 32px;
  gap: 8px;
  width: 10vw;
  height: 7vh;
  background: rgba(133, 64, 245, 0.97);
  border-radius: 4px;
}
.saveButton:hover {
  opacity: 0.9;
  background: rgba(133, 64, 245, 0.97);
  cursor: pointer;
}
