.titlesDiv {
  /* border: 1px solid red; */
  width: 70vw;
  padding-top: 3%;
  padding-left: 3%;
}
.title {
  margin-bottom: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30.474px;
  line-height: 46px;
  text-transform: capitalize;

  color: #472cc0;
}
.subTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28.5522px;
  line-height: 43px;
  text-transform: capitalize;
  color: #040330;
}
._subTitle {
  color: #5d46c8;
}
.teacherLobby {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.innerTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
