.titlesDiv {
  width: 70vw;
  padding-top: 3%;
  padding-left: 3%;
}
.title {
  margin-bottom: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30.474px;
  line-height: 46px;
  text-transform: capitalize;

  color: #472cc0;
}
.title2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #140b53;
  margin-bottom: 2vh;
}
.subTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28.5522px;
  line-height: 43px;
  text-transform: capitalize;
  color: #040330;
}
.subTitle2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28.5522px;
  line-height: 43px;
  text-transform: capitalize;
  color: #040330;
  margin-bottom: 2vh;
}
._subTitle {
  color: #5d46c8;
}

.lobby {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 50vw;
  text-align: justify;
}
.innerTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.submitButton {
  padding: 6px 32px;
  gap: 8px;
  width: 13vw;
  height: 7vh;
  background: rgba(133, 64, 245, 0.97);
  border-radius: 4px;
}
.submitButton:hover {
  opacity: 0.9;
  background: rgba(133, 64, 245, 0.97);
  cursor: pointer;
}
.notPermissionDiv {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 200px;
  margin-left: 300px;
  margin-bottom: 200px;
}
@media screen and (max-width: 450px) {
  .titlesDiv {
    margin: 30px auto;
    text-align: center;
    width: 80vw;
  }
  .title2 {
    justify-content: center;
  }
  .lobby {
    margin: 10px auto;
    width: 80vw;
    margin-bottom: 100px;
  }
  .innerTitle {
    margin: 0px auto;
    width: 80vw;
    font-size: 24px;
  }
  .submitButton {
    padding: 6px 32px;
    gap: 8px;
    width: 50vw;
    height: 7vh;
    background: rgba(133, 64, 245, 0.97);
    border-radius: 4px;
  }
  .notPermissionDiv {
    width: 50vw;
    height: 100px;
    margin: 10vh auto 30vh;
    display: flex;
    text-align: center;
    font-size: 20px;
  }
}
